@import "tailwindcss";

:root {
  --background: #e9e0d2;
  --foreground: #302d28;

  --surface: #f2ebdf;

  --primary: #465446;
  --secondary: #8a7964;

  --muted: #756f65;

  --border: #cfc4b5;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: var(--background);
  color: var(--foreground);

  font-family:
    Arial,
    Helvetica,
    sans-serif;

  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}